<!DOCTYPE html>
<html>
<head  lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - convert money</title>
    
    <link rel="stylesheet" href="/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/css/font-awesome.css" />
    <link rel="stylesheet" href="/Content/css/main-user.css" />
    
    <base href="/">
    <script src="/Content/js/jquery.min.js"></script>
    <script src="/Content/js/jquery-ui.custom.min.js"></script>

    <script type="text/javascript" src="/dist/commonUser.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
