<div id="content-header">
    <h1>Money</h1>
</div>
<div id="breadcrumb">
    <a [routerLink]="['/moneys']" class="current"><i class="fa fa-th"></i> Money</a>
</div>
<div class="row">
    <div class="col-xs-12">
        <div *ngIf="moneys!=null && moneys.length>0">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <money-short [moneys]="moneys" (onSelectMoney)="onSelectMoney($event)"></money-short>
                </div>
            </div>
        </div>
    </div>
</div>