<div id="header">
    <h1><a href="/index.html">Unicorn Admin</a></h1>
    <a id="menu-trigger" href="#"><i class="fa fa-align-justify"></i></a>
</div>
<div id="user-nav">
    <ul class="btn-group">
        <li class="btn"><a title="" href="#"><i class="fa fa-user"></i> <span class="text">Profile</span></a></li>
        <li class="btn dropdown" id="menu-messages">
            <a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="fa fa-envelope"></i> <span class="text">Messages</span> <span class="label label-danger">5</span> <b class="caret"></b></a>
        </li>
        <li class="btn"><a title="" href="#"><i class="fa fa-cog"></i> <span class="text">Settings</span></a></li>
        <li class="btn"><a title="" href="/Home/Logout"><i class="fa fa-share"></i> <span class="text">Logout</span></a></li>
    </ul>
</div>
<div id="sidebar">
    <div id="search">
        <input type="text" placeholder="Search here..." /><button type="submit" class="tip-right" title="Search"><i class="fa fa-search"></i></button>
    </div>
    <ul>
        <li [ngClass]="{'active':linkDashboard}"><a [routerLink]="['/dashboard']" ><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
        <li [ngClass]="{'active':linkMoney}"><a [routerLink]="['/moneys']" ><i class="fa fa-th"></i> <span>Money</span></a></li>
        <li [ngClass]="{'active':linkPerson}"><a [routerLink]="['/persons']"><i class="fa fa-group"></i> <span>Persons</span></a></li>

        <li class="submenu" [ngClass]="{'open':linksFirst.openClass}">
            <a href="#" (click)="menuOpen(linksFirst,$event);$event.preventDefault();"><i class="fa fa-flask"></i> <span>UI Lab</span> <i class="arrow fa fa-chevron-right"></i></a>
            <ul >
                <li><a href="#">Interface Elements</a></li>
                <li><a href="#">jQuery UI</a></li>
                <li><a href="#">Buttons &amp; icons</a></li>
            </ul>
        </li>
        <li class="submenu" [ngClass]="{'open':linksSecond.openClass}">
            <a href="#" (click)="menuOpen(linksSecond,$event);$event.preventDefault();"><i class="fa fa-th-list"></i> <span>Form elements</span> <i class="arrow fa fa-chevron-right"></i></a>
            <ul>
                <li><a href="#">Common elements</a></li>
                <li><a href="#">Validation</a></li>
                <li><a href="#">Wizard</a></li>
            </ul>
        </li>
        
        <li><a href="#"><i class="fa fa-th-list"></i> <span>Grid Layout</span></a></li>
    </ul>
</div>
<div id="content">
    <router-outlet></router-outlet>
</div>