@{
    Layout = "_LayoutUser";
    ViewData["Title"] = "Login";
}

<div id="container">
    <div id="loginbox">
        <app-component>Loading...</app-component>
    </div>
</div>
@section scripts {
   <script type="text/javascript" src="/dist/user.js"></script>
}

