<div id="content-header">
    <h1>Dashboard</h1>
    <div class="btn-group">
        <a class="btn btn-large" title="Manage Files"><i class="fa fa-file"></i></a>
        <a class="btn btn-large" title="Manage Users"><i class="fa fa-user"></i></a>
        <a class="btn btn-large" title="Manage Comments"><i class="fa fa-comment"></i><span class="label label-danger">5</span></a>
        <a class="btn btn-large" title="Manage Orders"><i class="fa fa-shopping-cart"></i></a>
    </div>
</div>
<div id="breadcrumb">
    <a [routerLink]="['/dashboard']"  class="current"><i class="fa fa-home"></i> Dashboard</a>
</div>
<div class="row">
    <div class="col-xs-12">
        page dashboard
        <br />
       -->> <a [routerLink]="['/money']" class="flip-link to-recover grey">open money</a>  
        <br />
    </div>
</div>