<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="fa fa-th"></i>
                </span>
                <h5>Static table</h5>
            </div>
            <div class="widget-content nopadding">
                page dashboard
                <br />
                <a [routerLink]="['/money']" class="flip-link to-recover grey">open money</a>
                <br />
                
            </div>
        </div>
    </div>
</div>